In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/Users/jeong-yula/Desktop/streamlit/전처리통합최종.csv')

In [5]:
df

,Unnamed: 0,사이트,검색 키워드,기업이름,포지션이름,포지션이름 전처리,포지션 세부,마감일,상시 채용 여부,경력_min,경력_max,학력,학력 세부정보,스킬,제출서류,채용절차,채용형태,채용형태_전처리,채용형태_전처리 세부,급여,근무시간,근무장소,근무장소 시,근무장소 구,경기도 구,근무형태,주요업무,인재상,자격요건,Hard Skill,Soft Skill,Tool,우대사항,hard plus,soft plus,tool plus,복지,기업소개,표준산업분류,주요사업,주요사업.1,산업군,산업군 전처리,설립,사원 수,기업 평균 연봉,기업유형,기업 유형 전처리,기업 유형 전처리 _세부,매출액,접수방법,총점,복지 및 급여,업무와 삶의 균형,사내문화,승진 기회,경영진,기업추천율,CEO 지지율,성장 가능성,하이라이트+태그,퇴사,입사,링크,DA,통계,ML,DL,시각화,데이터 가공,빅데이터,클라우드,파이프라인,그로스해킹,로그,마케팅,도메인,프로그래밍언어,의사소통,논리적/분석적 사고,문제해결능력,프로세스,리더십,책임감,적극적,의지/열정,창의력,비즈니스,액션도출,Agile,영어,관심/경험,Tool1,SQL,Python,R,시각화 툴,로그분석,BigData,Cloud,database,개발,MLtool,DLtool,DA plus,통계 plus,ML plus,DL plus,시각화 plus,데이터 가공 plus,빅데이터 plus,파이프라인 plus,그로스해킹 plus,로그 plus,마케팅 plus,의사소통 plus,리더십 plus,문제해결능력 plus,Agile plus,학력 plus,창의력 plus,적극적 plus,논리적/분석적 사고 plus,관심/경험 plus,영어 plus,전공,공모전,프로젝트 경험,논문,tool plus1,SQL plus,Python plus,R plus,시각화 툴 plus,로그분석 plus,BigData plus,Cloud plus,database plus,개발 plus,MLTool plus,DLTool plus
0,0,원티드,데이터 분석가,제네시스랩,Data Scientist,데이터 사이언티스트,NaN,상시채용,1,3,15,0,NaN,없음,자유이력서 (형식 무관),• 서류전형 ▷ AI영상면접(뷰인터HR) ▷ 과제(필요시) ▷ 인터뷰 ▷ 평판조회/...,• 정규직 (수습기간 3개월) \n • 수습기간 내 급여 100% 지급,정규직,수습 3개월,없음,없음,"서울 중구 명동길 73, 5층",서울,중,NaN,없음,• AI 기술에 기반한 HR Analytics\n • 딥러닝 모델 추론 결과 분석을...,NaN,관련업무 3년 이상 경력자 (또는 이에 준하는 실력을 겸비하신 분)\n • 통계 분...,"통계분석,데이터마이닝,머신러닝,딥러닝,영상데이터,음성데이터,텍스트데이터,데이터보안,...",분석적사고,Python,딥러닝 추론 결과를 분석하여 모델 성능 향상에 기여한 경험이 있으신 분\n • AI...,"딥러닝,딥러닝추론결과분석경험,모델성능향상,ai,데이터수집,데이터수집설계,코드품질개선",ai관심,없음,"제네시스랩은 자율적이며, 생산력 높은 업무 환경을 조성하고자 노력하고 있어요.\n ...","제네시스랩은 [인간에 대한 깊은 이해와 공감]을 바탕으로, AI 기술을 통한 인류...","컴퓨터 시스템 통합 자문, 구축 및 관리업",AI 영상면접 및 AI 인공지능 관련 기술 서비스,"AI 기술을 활용한 서비스 개발 (뷰인터HR, 쥬씨, 닥터리슨)","헬스케어, 소프트웨어",제조,2017,70,"5,663",스타트업,스타트업,없음,20억원,없음,3.6,3.3,4.1,3.6,3.2,3.5,72,73,62,"연봉 업계 평균 이상, 지속 성장중인 기업, 일한만큼 받는 보상 ,건강검진\n \n...",22,26,https://www.wanted.co.kr/wd/106376,0,1,1,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,python,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,없음,0,0,0,0,0,0,0,0,0,0,0
1,1,원티드,데이터 분석가,에어프레미아랩스,Data Analyst,데이터 분석가,NaN,2024.4.14,0,5,6,0,NaN,없음,없음,없음,정규직,정규직,없음,없음,없음,서울특별시 영등포구 여의도동,서울,영등포,NaN,없음,데이터에 기반한 비즈니스 인사이트 및 전략적 방향성을 제안합니다\n - 다양한 유관...,NaN,5년 이상의 데이터 분석 업무 경험 혹은 그에 준하는 역량이 있으신 분\n - 데이...,"데이터전처리,데이터분석업무경험","경력5년,데이터에기반한커뮤니케이션,논리적사고,질문","SQL, Python",A/B 테스트 기반 가설 검증 경험이 있으신 분\n - BI Tool(Tableau...,"a/b테스트,bitool,데이터시각화,대시보드구축,데이터마트,데이터마트설계,airf...","새로운도메인,학구심,도메인지식,비즈니스임팩트,인사이트도출,액션도출,조직적/기술적개선",없음,"최고급 디바이스 제공 (맥북프로 혹은 이에 준하는 기기), 테스크테리어 비용 30만...","에어프레미아는 벤처캐피탈, 사모펀드, 기관투자자 등으로부터 누적 2700억 원의 투...",시스템ㆍ응용 소프트웨어 개발 및 공급업,없음,항공 운송 서비스 제공,항공 및 여행,항공,2017,343,"5,852",중소기업,중소기업,없음,없음,없음,999.0,999.0,999.0,999.0,999.0,999.0,999,999,999,"수평적인 기업 문화\n ,스타트업\n \n IT, 컨텐츠",1,25,없음,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,"sql,python",1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1,0,0,0,0,1,0,0,1,1,0,0,0,0,0,0,0,없음,0,0,0,0,0,0,0,0,0,0,0
2,2,"원티드,잡코리아",데이터 분석가,매드업,[광고사업부] 데이터 분석가,데이터 분석가,NaN,2024.5.1,0,3,7,0,NaN,"Git, Google Analytics, Keras, Pytorch, Tensor...","이력서, 포트폴리오",서류 전형 ＞ 1차 인터뷰＞ 2차 인터뷰 ＞ 처우 협의 및 채용 확정,정규직 (수습 3개월),정규직,수습 3개월,회사내규에 따름,주5일 (월~금) 09:00~18:00\n탄력근무제,서울특별시 서초구 서초대로 74길 4 삼성생명 서초타워 20층,서울,서초,NaN,없음,• 고객의 중요한 비즈니스 문제를 데이터를 사용하여 해결하고 인사이트 추출\n • ...,NaN,• 데이터 중심의 작업 환경에서 3년 이상의 경력을 보유하신 분\n • 주요 머신러...,"머신러닝,딥러닝,프레임워크,협업개발툴,데이터분석기법,가설검정,회귀,인과관계,상관관계...","협업,분석및문제해결능력,새로운기술,창의적사고,커뮤니케이션,통찰력,경력3년","TensorFlow, Kersas, PyTorch, ChatGPT, Stable D...","• Mobile Measurement Platforms, 구글 애널리틱스, 어도비 ...","mobilemeasurementplatforms,데이터베이스,데이터시각화,ai개발,...","컴퓨터과학학위,ai학위,개발프로젝트","Google Analytics, Adobe Analytics, SQL, Tablea...",• 함께하는 성장을 위하여\n - 직무별 실무교육 및 스터디 지원\n - 외부교육 ...,＞ 매드업은 기술을 기반으로 디지털 마케팅 시장을 이끌어갑니다.\n \n 웹과 앱을...,시스템ㆍ응용 소프트웨어 개발 및 공급업,"모바일 마케팅 서비스, 애드네트워크",디지털 마케팅 솔루션 제공,정보기술(IT),마케팅,2015,264,"4,562",벤처기업 (비상장),벤처기업,비상장,337억,홈페이지 지원,3.3,3.4,2.2,3.4,3.6,3.0,55,64,50,"연봉 업계 평균 이상, 지속 성장중인 기업, 수평적인 기업 문화 ,커피\n \n 음...",131,113,https://www.wanted.co.kr/wd/213293,1,1,1,1,0,0,0,0,0,0,0,0,0,1,1,1,1,1,0,0,0,0,1,0,0,0,0,0,"tensorflow,kersas,pytorch,chatgpt,stablediffus...",0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,"googleanalytics,adobeanalytics,sql,tableau,pow...",1,0,0,1,1,0,0,0,0,1,0
3,3,원티드,데이터 분석가,이글루코퍼레이션,데이터 분석 엔진 개발,데이터 분석 엔진 개발,NaN,2024.4.30,0,6,10,0,NaN,없음,없음,없음,정규직,정규직,없음,없음,없음,서울 송파구 문정동 정의로 8길 7 한스빌딩 ㈜이글루코퍼레이션,서울,송파,NaN,없음,"• ETL, CEP",NaN,학력 : 초대졸 이상\n • 경력 : 6년 이상\n • JAVA 활용이 가능한 자\...,"데이터웨어하우스설계,인프라구축,데이터엔지니어링경험",경력6년,Java,"Kubernetes, Kafka 활용 프로젝트 유경험자\n • In-memory /...",없음,없음,"Kubernetes, Kafka, In-memory, RDB, NoSQL, ETL,...","임직원 건강관리 지원제도 \n - 임직원 단체보험 가입 (보장성, 일반형)\n ...",세계 보안을 지키는 글로벌 정보보안기업 이글루코퍼레이션\n \n 이글루코퍼레이션(대...,시스템ㆍ응용 소프트웨어 개발 및 공급업,"정보 서비스 (통합보안관제서비스,통합보안관리솔루션)",정보 보안 솔루션 제공,정보기술(IT),정보 보안,1999,"1,064","4,750",중견기업,중견기업,없음,1030억,없음,2.7,2.2,2.8,2.5,2.7,2.1,28,28,8,",단체보험\n \n 유연근무\n \n 동호회\n \n 통신비\n \n 연봉업계평균이...",250,312,https://www.wanted.co.kr/wd/205486,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,java,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"kubernetes,kafka,in-memory,rdb,nosql,etl,cep",1,0,0,0,0,0,0,1,1,0,0
4,4,"원티드,사람인",데이터 분석가,빗썸코리아,데이터 분석 개발자,데이터 분석 개발자,NaN,상시채용,1,4,12,0,NaN,"AWS, BigData, Python, Spark, R",이력서,• 서류전형 ＞ 1차 기술 인터뷰 ＞ 2차 임원 인터뷰 ＞ 최종합격,정규직 수습기간 3개월,정규직,수습 3개월,회사내규에 따름,주 5일(월~금),"서울시 강남구 테헤란로 124, 삼원타워 14~18F",서울,강남,NaN,없음,On-premise 데이터 시스템 구축 및 관리\n • 클라우드 기반 데이터 시스템...,NaN,• 4년 이상의 금융(가상자산 포함) 혹은 대형 플랫폼 데이터 관련 업무 경력이 있...,"대형플랫폼데이터,데이터구조,대용량트래픽시스템,데이터설계,구축,서비스관리","개발조직협업,금융산업경력",없음,• 데이터 파이프라인 구축 경험이 있으신 분\n • 웹크롤링 / RESTful AP...,"데이터파이프라인구축,웹크롤링,restfulapi","관련전공,고객중심사고,데이터기반의사결정,협업능력,커뮤니케이션",없음,업무에 몰입할 수 있는 환경을 조성합니다.]\n \n • 비포괄임금제 | 일한만큼 ...,"세상의 모든 가치가 거래되는 곳,\n 대한민국 대표 가상자산 거래소 빗썸에서 함께 ...",통신 판매업/전자상거래 소매업,"전자상거래/여신금융/소프트웨어 개발,공급,정보서비스",가상자산 거래소 운영,금융,금융,2014,395,"9,928",중소기업,중소기업,없음,1조원,점핏에서 지원,3.2,4.0,2.8,2.7,3.2,2.5,51,43,40,"연봉 업계 평균 이상, 지속 성장중인 기업, 퇴사율 10% 이하 ,어린이집\n \n...",85,105,https://www.wanted.co.kr/wd/214874,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,없음,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,0,0,0,0,0,1,0,0,1,0,0,0,없음,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,230,링크드인,Data Scientist,현대자동차,[ICT] Data Scientist - 고객판매 데이터분석,데이터 사이언티스트,고객 판매 데이터 분석,없음,999,999,999,1,"통계학, 컴퓨터공학","Deep Learning, Pandas (Software), 데이터 과학, 데이터 ...",이력서,없음,없음,없음,없음,없음,풀타임,"서울, 재택 대면 혼합 근무",서울,없음,NaN,재택 대면 혼합,■ 데이터 분석 모델 기반 고객 서비스 기획\n 비즈니스 데이터를 활용한 고객 서비...,NaN,"통계학, 컴퓨터공학 관련 학과를 전공하신 분\n 데이터 분석, AI 등 관련 분야 ...","데이터분석,인공지능","경력3년,통계학/컴퓨터공학학사",없음,"Python을 이용한 데이터 분석, 시각화 및 머신러닝/딥러닝 수행 능력을 보유하신...","데이터분석,머신러닝,딥러닝,모델링,데이터시각화,대용량데이터분산처리,데이터마트,클라우드환경","개발지식,서비스개선경험","Spark, HDFS, Hive, MariaDB, Airflow",없음,"커머스, 웹/앱 등 대고객서비스를 비롯한 당사 전반의 IT시스템 및 데이터의 전략을...",자동차 제조,"자동차(승용차,버스,트럭,특장차),자동차부품","전사 IT시스템 및 데이터 전략 수립, 모빌리티 서비스와 플랫폼 구축/관리",자동차 및 모빌리티,모빌리티,999,"69,356","10,492",대기업,대기업,없음,78조 3백억원,홈페이지 지원,999.0,999.0,999.0,999.0,999.0,999.0,999,999,999,없음,999,999,https://www.linkedin.com/jobs/search/?currentJ...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,없음,0,0,0,0,0,0,0,0,0,0,0,1,0,1,1,1,0,1,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,"spark,hdfs,hive,mariadb,airflow",0,0,0,0,0,1,0,1,0,0,1
231,231,링크드인,Data Scientist,"QuantumBlack, AI by McKinsey","Data Scientist - QuantumBlack, AI by McKinsey",데이터 사이언티스트,NaN,없음,999,7,999,1,"컴퓨터 과학, 기계 학습, 응용 통계, 수학, 공학","데이터 과학, 데이터 엔지니어링, 머신러닝, 문제관리, 예측 분석, 창의적 문제 해...","영문이력서, 자기소개서, 포트폴리오",없음,없음,없음,없음,없음,풀타임,서울,서울,없음,NaN,없음,What You'll Do\nAs a Data Scientist at Quantum...,NaN,"Qualifications\nBachelor's, master's or PhD le...","데이터과학,머신러닝,딥러닝,모델링,비즈니스분석","문제해결능력,영어로소통,커뮤니케이션,협업능력,창의력,컴퓨터과학/응용통계학/수학학사,...","Python, 'R', SQL",없음,없음,없음,없음,Real-World Impact– No project is ever the same...,"We are QuantumBlack, AI by McKinsey.\n\nWe bri...",IT 서비스 및 IT 컨설팅,없음,인공지능과 사람들의 독특한 강점을 결합하여 하이브리드 인텔리전스를 만들어내는 AI 기업,인공지능,응용 소프트웨어 개발,999,"1,001-5,000",없음,없음,없음,없음,없음,링크드인 지원,999.0,999.0,999.0,999.0,999.0,999.0,999,999,999,없음,999,999,https://www.linkedin.com/jobs/search/?currentJ...,0,0,1,1,0,0,0,0,0,1,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,"python,'r',sql",1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,없음,0,0,0,0,0,0,0,0,0,0,0
232,232,링크드인,Data Scientist,Boeing,Data Scientist,데이터 사이언티스트,NaN,없음,999,3,999,0,"컴퓨터 과학, 통계, 수학, 공학","Exploratory Data Analysis, Hypothesis Testing,...",이력서,없음,없음,없음,없음,없음,풀타임,서울시 강남구,서울,강남,NaN,없음,Boeing Korea Engineering and Technology Center...,NaN,Basic Qualifications (Required Skills/Experien...,"데이터과학,시계열데이터,탭데이터,데이터분석,프로그래밍언어,회귀분석,시계열모델링,머신...","창의력,비판적사고,문제해결능력,커뮤니케이션,협업능력,배움에대한열정,논리적사고,빠른변...","Python, pandas, NumPy, scikit-learn, TensorFlo...",Preferred Qualifications (Desired Skills/Exper...,"데이터분석,머신러닝,딥러닝,모델링,항공기지식,데이터사이언스데이터베이스,프로그래밍언어...","관련전공,석사,박사,공모전입상,프로젝트경험,서비스런칭경험,포트폴리오","GitHub, SQL, MySQL",없음,We are the world’s largest aerospace company a...,항공우주,"항공기조종훈련 제공,조치,(군용)항공기 수리","상용 비행기, 군수 비행기, 우주 및 보안 시스템 제공, 그로벌 서비스",항공 및 우주,항공,1916,"170,000",없음,외국계,외국계,없음,없음,링크드인 지원,999.0,999.0,999.0,999.0,999.0,999.0,999,999,999,없음,999,999,https://www.linkedin.com/jobs/search/?currentJ...,1,1,1,1,1,1,0,0,1,0,1,0,0,1,1,1,1,0,0,0,0,1,1,0,0,1,0,0,"python,pandas,numpy,scikit-learn,tensorflow,py...",1,1,0,1,0,0,0,0,0,1,1,1,1,1,1,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,1,0,1,1,1,0,"github,sql,mysql",1,0,0,0,0,0,0,1,0,0,0
233,233,링크드인,Data Scientist,Viva Republica (Toss),Data Scientist (CSS),"CSS, 데이터 사이언티스트",NaN,없음,999,7,999,0,없음,"CSS, NumPy, R, 데이터 과학, 데이터 시각화, 데이터 엔지니어링, 예측 ...","이력서, 포트폴리오\n현재 채용 공고와 관련 있었던 업무/프로젝트, 그 결과에 대해...",서류 접수 > 직무 인터뷰 > 문화적합성 인터뷰 > 레퍼런스 체크 > 처우협의 > ...,없음,없음,없음,없음,풀타임,"서울, 재택 대면 혼합 근무",서울,없음,NaN,재택 대면 혼합,"대출 니즈 모형, 카드 발급 예측 모형, 신용평가 모형 등 신용과 대출 도메인 영역...",NaN,"Python과 SQL을 능숙하게 다루고 Hadoop, Spark, Hive와 같은 ...","데이터분석,빅데이터,빅데이터분석플랫폼,대용량데이터분산처리,모델링,머신러닝,딥러닝,프...",문제해결능력,"Python, SQL, Hadoop, Spark, Hive, TensorFlow, ...",없음,없음,없음,없음,없음,대한민국 금융을 혁신해 나가는 토스와 함께할 동료를 찾습니다.\n토스의 목표는 명확...,금융 서비스,금융플랫폼,금융 서비스 제공 및 혁신,금융 및 인터넷,금융,2013,924,"8,153",스타트업,스타트업,없음,"3,361억 7,217만원",링크드인 지원,3.6,4.2,2.3,3.4,3.4,3.3,59,74,63,"연봉상위1%\n누적투자100억이상\n인원급성장\n퇴사율 6~10%\n301~1,00...",287,347,https://www.linkedin.com/jobs/search/?currentJ...,1,0,1,1,0,1,1,0,0,0,0,1,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,"python,sql,hadoop,spark,hive,tensorflow,pytorch",1,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,없음,0,0,0,0,0,0,0,0,0,0,0
234,234,링크드인,Data Scientist,Toss Bank(토스뱅크),Data Scientist,데이터 사이언티스트,NaN,없음,999,7,999,0,NaN,"CSS, NumPy, R, 데이터 과학, 데이터 시각화, 데이터 엔지니어링, 예측 ...","이력서, 포트폴리오\n그동안 해오신 업무 중 임팩트 있었던 프로젝트를 구체적으로 적...",서류 접수 > 직무 인터뷰 > 문화적합성 인터뷰 > 레퍼런스 체크 > 처우협의 > ...,없음,없음,없음,없음,풀타임,"서울, 재택 대면 혼합 근무",서울,없음,NaN,재택 대면 혼합,"토스뱅크의 사업적 과제를 해결하기 위해 데이터를 통한 문제정의를 하고, 해결방안을 ...",NaN,데이터 및 머신러닝에 대한 수학적 이해와 통계적 지식이 필요해요.\n머신러닝 등 최...,"데이터분석,통계,머신러닝,딥러닝,알고리즘,프레임워크,모델링,금융데이터,금융서비스,빅...","의사결정,문제해결능력,방향성제시","SQL, Python, 'R', TensorFlow, PyTorch, Hadoop,...",없음,없음,없음,없음,없음,토스뱅크팀은 대한민국 금융 혁신을 위한 새로운 인터넷은행을 설립하는 것을 목표로 합...,뱅킹,금융플랫폼,"인터넷은행 설립, 금융 혁신 및 금융 서비스 제공",금융 서비스,금융,2020,533,"8,742",중소기업,중소기업,없음,"7,556억 9천만원",링크드인 지원,3.5,3.9,2.3,3.0,3.0,2.9,53,73,67,"연봉상위6~10%\n인원급성장\n301~1,000명\n설립4~9년\n성과급\n상여금...",66,182,https://www.linkedin.com/jobs/search/?currentJ...,1,1,1,1,0,1,1,0,0,0,0,1,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,"sql,python,'r',tensorflow,pytorch,hadoop,spark...",1,1,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,없음,0,0,0,0,0,0,0,0,0,0,0

In [4]:
pd.set_option('display.max_columns',None)

In [6]:
df.columns

Index(['Unnamed: 0', '사이트', '검색 키워드', '기업이름', '포지션이름', '포지션이름 전처리', '포지션 세부 ',
       '마감일', '상시 채용 여부', '경력_min',
       ...
       'Python plus', 'R plus', '시각화 툴 plus', '로그분석 plus', 'BigData plus',
       'Cloud plus', 'database plus', '개발 plus', 'MLTool plus', 'DLTool plus'],
      dtype='object', length=141)

In [7]:
print(df.columns.to_list())

['Unnamed: 0', '사이트', '검색 키워드', '기업이름', '포지션이름', '포지션이름 전처리', '포지션 세부 ', '마감일', '상시 채용 여부', '경력_min', '경력_max', '학력', '학력 세부정보', '스킬', '제출서류', '채용절차', '채용형태', '채용형태_전처리', '채용형태_전처리 세부', '급여', '근무시간', '근무장소', '근무장소 시', '근무장소 구', '경기도 구 ', '근무형태', '주요업무', '인재상', '자격요건', 'Hard Skill', 'Soft Skill', 'Tool', '우대사항', 'hard plus', 'soft plus', 'tool plus', '복지', '기업소개', '표준산업분류', '주요사업', '주요사업.1', '산업군', '산업군 전처리', '설립', '사원 수', '기업 평균 연봉', '기업유형', '기업 유형 전처리', '기업 유형 전처리 _세부', '매출액', '접수방법', '총점', '복지 및 급여', '업무와 삶의 균형', '사내문화', '승진 기회', '경영진', '기업추천율', 'CEO 지지율', '성장 가능성', '하이라이트+태그', '퇴사', '입사', '링크', 'DA', '통계', 'ML', 'DL', '시각화', '데이터 가공', '빅데이터', '클라우드', '파이프라인', '그로스해킹', '로그', '마케팅', '도메인', '프로그래밍언어', '의사소통', '논리적/분석적 사고', '문제해결능력', '프로세스', '리더십', '책임감', '적극적', '의지/열정', '창의력', '비즈니스', '액션도출', 'Agile', '영어', '관심/경험', 'Tool1', 'SQL', 'Python', 'R', '시각화 툴', '로그분석', 'BigData', 'Cloud', 'database', '개발', 'MLtool', 'DLtool', 'DA plus', '통계 plus', 'ML plus', 'DL plus', '시각화 plus', '데이터 가공 plus', '빅데이터 plus', '파이프라인 plus', '그로스해킹 plus', '로그 plus', '마케팅 plus', '의사소통 plus', '리더십 plus', '문제해결능력 plus', 'Agile plus', '학력 plus', '창의력 plus', '적극적 plus', '논리적/분석적 사고 plus', '관심/경험 plus', '영어 plus', '전공', '공모전', '프로젝트 경험', '논문', 'tool plus1', 'SQL plus', 'Python plus', 'R plus', '시각화 툴 plus', '로그분석 plus', 'BigData plus', 'Cloud plus', 'database plus', '개발 plus', 'MLTool plus', 'DLTool plus']